<div class="dashboard-row-search">
  <h2 class="welcome-text">Welcome <%= current_user.name %></h2>
  <div class="searchWrapper">
    <%= form_tag user_path(current_user), method: :get, class: "form-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a patient"
    %>
    <%= submit_tag "Search", class: "btn btn-primary btn-search" %>
    <% end %>
  </div>
</div>

<div class="dashboard-row">
  <div class="new-patient-wrapper">
    <h2 class="new-patient-header">ADD NEW PATIENT</h2>
    <%= simple_form_for @patient do |form| %>
      <%= form.input :hospital_patient_id, class: "form-control", placeholder: "Patient's id" %>
    <%= form.button :submit, class: "btn btn-primary btn-add"%>
    <% end %>
  </div>
  <div class="patient-list-wrapper scrollbarxcustom">
    <ul style="list-style-type:none">
      <% @patients.each do |patient| %>
      <li class="patient-list-list"><i class="far fa-id-card patient-icon"></i>
        <%= patient.hospital_patient_id %>
        <%= link_to "Evolution", user_patient_bodies_path(current_user, patient), class: "patient-list-link", id:"not-to-be-printed" %>
        <%= link_to "New Snapshot", user_patient_path(current_user, patient), class: "patient-list-link" %>
      </li>
      <hr class="patient-separator">
      <% end %>
    </ul>
  </div>
</div>
