<h1 class="homepage-title">Welcome to VizzMD</h1>
<h1 class="homepage-subtitle">Let's get started</h1>

<div class="steps-wrapper-row">
  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">1</h2>
      <h2 class="homepage-step-title">Add new Patient</h2>
    </div>
  <%= image_tag "step1.png" ,class: "step-image" %>
  </div>

  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">2</h2>
      <h2 class="homepage-step-title">Click on Muscles</h2>
    </div>
  <%= image_tag "step2.png" ,class: "step-image"  %>
  </div>

  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">3</h2>
      <h2 class="homepage-step-title">Enter Data</h2>
    </div>
  <%= image_tag "step3.png" ,class: "step-image"  %>
  </div>

  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">4</h2>
      <h2 class="homepage-step-title">Check Muscles's Nerf</h2>
    </div>
  <%= image_tag "step4.png" ,class: "step-image" %>
  </div>

  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">5</h2>
      <h2 class="homepage-step-title">Add Traitment</h2>
    </div>
  <%= image_tag "step5.png" ,class: "step-image"  %>
  </div>

  <div class="step-card">
    <div class="step-title">
      <h2 class="homepage-step-number">6</h2>
      <h2 class="homepage-step-title">Visualise Evolution</h2>
    </div>
  <%= image_tag "step6.png" ,class: "step-image"  %>
  </div>
</div>
